* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #1c1c1c;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: #19308d; */
    position:relative;
    padding-top: 0.1px;
}
#nav{
  height: 9vh;
  width: 100%;
  /* background-color: red; */
  margin-top: 2vw;
  border-top: 0.2vw solid #d4af37;
  border-bottom: 0.2vw solid #d4af37;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.3vw;
}
#nav h3{
  display: none;
}
#nav h1{
  /* background-color: blue; */
  color: #d4af37;
  height: 100%;
  width: 14%;
  font-size: 2vw;
  font-family:monument, sans-serif;
  letter-spacing: 0.1vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#nav h1::after{
  content: "©";
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.9vw;
  position: absolute;
  top: 23%;
  right: 4%;
}
#nav h1::before{
  content: "New - Collection";
  font-family:Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #d4af37;
  font-weight: 800;
  font-style: italic;
  font-size: 0.5vw;
  position: absolute;
  top: 70%;
  right: 20%;
}
#nav h2{
  /* background-color: blue; */
  color: #d4af37;
  height: 100%;
  width: 27%;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #d4af37;
}
#nav h2:nth-last-child(1){
  color: #d4af37;
  width: 8%;
}
#center{
  height: 90%;
  width: 100%;
  /* background-color: red; */
  padding: 3vw;
  position: relative;
}
#content{
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  position: relative;
}
#content video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#overlay{
  height: 50%;
  width: 100%;
  position:absolute;
  bottom: 0;
  /* background-color: red; */
  padding: 3vw;
  color: #d4af37;
}
#over1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1vw;
}
 #over1 h1{
  font-family:monument, sans-serif;
  font-size: 3.5vw;
 }
 #over1 h2{
  font-size: 1.4vw;
  font-weight: 400;
  padding: 1vw 1vw;
  /* background-color: blue; */
  border-radius: 50%;
  border:1.5px solid #d4af37;
 }
#over2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d4af37;
  padding: 1vw 0;
}
#over2 h4{
  font-size: 1.3vw;
  font-weight: 400;
}
#over2 img{
  height: 3vw;
  color: #d4af37;
}
#scroll{
  height: 39vh;
  width: 100%;
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.container{
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  display: inline-block;
  padding: 1vw;
   animation-name: anime;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
}
#scroll img{
  height: 100%;
  width: 15%;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  object-position: 50% 0%;
}

/* Animation code start */
@keyframes anime {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(calc(-100% - 20px));
  }
}
/* Animation code end */

#alphabet{
  color: #d4af37;
  height: 10vh;
  width: 100%;
  margin-top: 5vh;
  /* background-color: rebeccapurple; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  border-top: 1.5px solid #d4af37;
  border-bottom: 1.5px solid #d4af37;
  cursor: pointer;
}
#alphabet h6{
  font-size: 1.25vw;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: font-size 1s ease;
} 
#alphabet:hover h6{
  font-size: 1.6vw;
  border-top: 2px;
  font-weight: 600;
  color: #d4af37;
  border-bottom: 1.3px solid #d4af37;
}
#page2{
  height: 125%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 5vw;
}
#page2-part1{
  height:85%;
  width: 50%;
  background-image: url(https://images.unsplash.com/photo-1725994390784-1ab5232a387d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 30%;
}
#desi{
  margin-top: 120%;
}
#page2-part1 h1{
  color: #d4af37;
  /* margin-top: 50vw; */
  font-family:fantasy;
  font-size: 3vw;
  font-weight: 500;
  letter-spacing: 0.2vw;
  word-spacing: 5px;
}
#page2-part2{
  height: 85%;
  width: 44%; 
  margin-right: 2vw;
}
#page2-part2 img{
  height: 75%;
  width: 100%  ;
  object-fit: cover;
}
#page2-part2-text{
  height: 30%;
  width: 100%;
  padding-top: 1.5vw;
  /* background-color: red; */
  display: flex;
  gap:6.5vw;
}
#page2-part2-text h3{
  color: #d4af37;
  font-size: 1.4vw;
  font-weight: 500;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
  line-height: 1.8vw;
  transition: font-size 1s ease;
}
#page2-part2-text h3:hover{
  color: #d4af37;
  cursor: pointer;
}
#page2-part2-text h5{
  color: #d4af37;
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.5vw;
}
#page3{
  height: 95%;
  width: 96%;
  /* background-color: red; */
  position: relative;
  padding: 4vw 5vw;
}
#page3>h1{
  color: #d4af37;
  font-family: monument;
  font-size: 3vw;
  font-weight: 550.9;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8vh;
}
.elem{
  height: 15vh;
  width: 104%;
  /* background-color: #c53c3c; */
  border-top: 1.5px solid #d4af37;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.3vw;
  /* position: relative; */
}
.elem img{
  height: 70px;
  width: 70px;
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
}

/* Bangles Start */
#i0-1{
  left: 20%;
  opacity: 0;
  transition: all ease 1.8s;
}
#i0-2{
  left: 30%;
  opacity: 0;
  transition: all ease 1.6s;
}
#i0-3{
  left: 40%;
  opacity: 0;
  transition: all ease 1.4s;
}
#i0-4{
  left: 50%;
  opacity: 0;
  transition: all ease 1.2s;
}
.elem:hover #i0-1{
  opacity: 1;
  left: 33%;
}
.elem:hover #i0-2{
  opacity: 1;
  left: 43%;
}
.elem:hover #i0-3{
  opacity: 1;
  left: 53%;
}
.elem:hover #i0-4{
  opacity: 1;
  left: 62%;
}
/* Bangles end */

/* Necklace start */
#i1-1{
  left: 20%;
  opacity: 0;
  transition: all ease 1.8s;
}
#i1-2{
  left: 30%;
  opacity: 0;
  transition: all ease 1.6s;
}
#i1-3{
  left: 40%;
  opacity: 0;
  transition: all ease 1.4s;
}
#i1-4{
  left: 50%;
  opacity: 0;
  transition: all ease 1.2s;
}
.elem:hover #i1-1{
  opacity: 1;
  left: 33%;
}
.elem:hover #i1-2{
  opacity: 1;
  left: 43%;
}
.elem:hover #i1-3{
  opacity: 1;
  left: 53%;
}
.elem:hover #i1-4{
  opacity: 1;
  left: 62%;
}
/* Necklace end */

/* Ring start */
#i2-1{
  left: 20%;
  opacity: 0;
  transition: all ease 1.8s;
}
#i2-2{
  left: 30%;
  opacity: 0;
  transition: all ease 1.6s;
}
#i2-3{
  left: 40%;
  opacity: 0;
  transition: all ease 1.4s;
}
#i2-4{
  left: 50%;
  opacity: 0;
  transition: all ease 1.2s;
}
.elem:hover #i2-1{
  opacity: 1;
  left: 33%;
}
.elem:hover #i2-2{
  opacity: 1;
  left:43%;
}
.elem:hover #i2-3{
  opacity: 1;
  left: 53%;
}
.elem:hover #i2-4{
  opacity: 1;
  left: 62%;
}
/* Ring end */

/* Jumka start */
#i3-1{
  left: 20%;
  opacity: 0;
  transition: all ease 1.8s;
}
#i3-2{
  left: 30%;
  opacity: 0;
  transition: all ease 1.6s;
}
#i3-3{
  left: 40%;
  opacity: 0;
  transition: all ease 1.4s;
}
#i3-4{
  left: 50%;
  opacity: 0;
  transition: all ease 1.2s;
}
.elem:hover #i3-1{
  opacity: 1;
  left: 33%;
}
.elem:hover #i3-2{
  opacity: 1;
  left: 43%;
}
.elem:hover #i3-3{
  opacity: 1;
  left: 53%;
}
.elem:hover #i3-4{
  opacity: 1;
  left: 62%;
}
/* Jumka end */

.elem h4{
  color: #d4af37;
  width: 5%;
  font-size: 1vw;
  font-weight: 350;
  text-transform: uppercase;
}
.elem-part2{
  color: #d4af37;
  width:15%;
  /* background-color: red; */
}
.elem-part2 h1{
  font-size: 1.8vw;
  font-weight: 520;
  margin-bottom: 2.5px;
}
.elem-part2 h5{
  font-size: 0.75vw;
  font-weight: 500;
  text-transform: uppercase;
}
.elem:nth-last-child(1){
  border-bottom:1.5px solid #d4af37;
}
#marque{
  /* height: 20vh; */
  width: 100%;
  margin-top: 2vw;
  padding: 0.8vw;
  /* background-color: rebeccapurple; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  border-top: 1.5px solid #d4af37;
  border-bottom: 1.5px solid #d4af37;
}
#marque h1{
  /* background-color: red; */
  display: inline-block;
  font-size: 2.5vw;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-text-stroke: 1.5px #d4af37;
  color: transparent;
  font-family: monument;
  margin-right: 14px;
  animation-name: move;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes move {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(calc(-100% - 18px));
  }
}
#own1-page{
  height: 100%;
  width: 100%;
  padding: 5vw 5vw;
  display: flex;
  justify-content: space-between;
}
#own1-page-left{
  height: 80%;
  width: 37%;
  /* background-color: red; */
}
#own1-page-right{
  height: 100%;
  width: 60%;
  /* background-color: blue; */
}
#own1-page-left video{
  height: 90%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
#own1-page-left p{
  color: #d4af37;
  font-size: 1.5vw;
  font-weight: 500;
  padding-top: 4vw;
  line-height: 2vw;
  word-spacing: 0.2vw;
}
#own1-page-right img{
  height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
}
#own1-page2{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#own1-page2 img{
  height: 100%;
  width: 90%;
  padding-top:2vh;
  padding-bottom: 3vw;
  object-position:top;
  object-fit: cover;
}
#own1-page3{
  height: 125%;
  width: 100%;
  padding: 5vw 4.5vw;
  display: flex;
  justify-content: space-between;
  color: #d4af37;
  /* background-color: red; */
}
#own1-page3-left{
  height: 100%;
  width: 45%;
  /* background-color: blue; */
}
 #own1-page3-left img{
  height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
 }
#own1-page3-right{
  height: 100%;
  width: 51%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
}
#own1-page3-right-top{
  height: 45%;
  width: 100%;
  /* background-color: orange; */
}
#own1-top-lines{
  height: 65%;
  width: 60%;
  /* background-color: blue; */
  padding-top: 0.2vw;
}
#own1-top-lines h1{
  margin-bottom: 3vw;
  font-size: 4vw;
}
#own1-top-lines h3{
  font-weight: 400;
}
p{
  margin-top: 0.3vw;
  font-size: 1vw;
  font-weight: 300;
  letter-spacing: 0.1vw;
  word-spacing: 0.1vw;
  line-height: 1.3vw;
}
#own1-page3-right-bottom{
  height: 55%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
}
#own1-page3-left-bottom-left{
  height: 100%;
  width: 60%;
  /* background-color: yellow; */
}
#own1-page3-left-bottom-left img{
  height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
}
#own1-page3-left-bottom-right{
  height: 100%;
  width: 37%;
  /* background-color: rgb(105, 89, 91); */
}
#own1-page3-left-bottom-right img{
  height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
}
#own1-page4{
  height: 120%;
  width:100%;
  padding: 0vw 4vw;
  /* background-color: red; */
}
#own1-page4 img{
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
#own1-page5{
  height: 125%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5vw 4vw;
}
#own1-page5-left{
  height: 100%;
  width: 57.8%;
  /* background-color: red; */
}
 #own1-page5-left img{
  height: 100%;
  width: 100%;
  object-position:center;
  object-fit: cover;
 }
#own1-page5-right{
  height: 100%;
  width: 39%;
  /* background-color: yellowgreen; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#own1-page5-right-top{
  height: 60%;
  width: 100%;
  /* background-color: green; */
}
#own1-page5-right-top img{
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
#own1-page5-right-bottom{
  height: 35%;
  width: 100%;
  color: #d4af37;
  /* background-color: aqua; */
  display: flex;
  gap: 5vw;
}
#own1-page5-right-bottom h3{
  font-weight: 400;
  gap: 10vw;
  line-height: 1.9vw;
}
#own1-page5-right-bottom p{
  font-size: 1vw;
  line-height: 1.2vw;
}
#own1-page6{
  height: 100%;
  color:#d4af37;
  width: 100%;
  padding: 5vw 4vw;
  display: flex;
  justify-content: space-between;
}
 #own1-page6-left{
  height: 100%;
  width: 17%;
  /* background-color: blue; */
 }
 #own1-page6-left h1{
  font-size: 4vw;
  font-family:monument;
  text-transform: uppercase;
 }
 #own1-page6-center{
  height: 100%;
  width: 35%;
  /* background-color: green; */
  position: relative;
 }
 #own1-page6-center img{
  height: 65%;
  width: 100%;
  object-position:bottom;
  object-fit: cover;
  position: absolute;
  bottom: 0;
 }
 #own1-page6-center h3{
 text-indent: 3vw;
 font-weight: 500;
 line-height: 1.8vw;
 letter-spacing: 0.3px;
 }
#own1-page6-right{
  height: 100%;
  width: 42%;
  position: relative;
  /* background-color: red; */
}
#own1-page6-right h3{
  text-indent: 3vw;
  font-weight: 500;
  line-height: 1.8vw;
  letter-spacing: 0.3px;
}
#own1-page6-right img{
  height: 65%;
  width: 100%;
  object-position:bottom;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}
#own1-page7{
  height: 40%;
  width: 100%;
  color: #d4af37;
  margin-top: 6vw;
  /* background-color: red; */
  padding: 0vw 4vw;
  border-top: 2px solid #d4af37;
  border-bottom:2px solid #d4af37;
  display: flex;
  justify-content: space-between;
}
#own1-page7-left{
  /* background-color: green; */
  height: 100%;
  width: 60%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
#own1-page7-left h1{
  margin-left: 4.5%;
  width: 20vw;
  padding-top: 2vw;
  font-size: 20px;
  font-family:monument, sans-serif;
  letter-spacing: 1px;
}
#own1-page7-left h1::after{
  content: "©";
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  position: absolute;
  top: 10%;
  right: 79%;
}
#own1-page7-left h1::before{
  content: "New - Collection";
  font-family:Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #d4af37;
  font-weight: 800;
  font-style: italic;
  font-size: 0.6vw;
  position: absolute;
  top: 19.6%;
  right: 82.5%;
}
#page7-H2{
  border-right:2px solid #d4af37;
  padding-top: 2vw;
  padding-right: 5vw;
  font-size: 18px;
  font-weight: 500;
}
#own1-page7-left h2:nth-last-child(1){
  border-right:2px solid #d4af37;
  width: 15vw;
  padding-top: 2vw;
  padding-left: 2vw;
  font-size: 18px;
  font-weight: 500;
}
#own1-page7-right{
  /* background-color: red; */
  height: 100%;
  width: 40%;
}
#own1-page7-right-top{
  /* background-color: red; */
  height: 35%;
  width: 111%;
  border-bottom: 2px solid #d4af37;
  display: flex;
  align-items: center;
  justify-content: center;
}
#own1-page7-right-top h2{
  font-size: 18px;
  font-weight: 500;
}
#own1-page7-right-bottom{
  /* background-color: yellow; */
  height: 65%;
  width: 100%;
}
#icons{
  font-size: 1.2vw;
  display: flex;
  gap: 1.3vw; 
  padding: 2vw 0vw;
  padding-bottom: 1vw ;
  padding-left: 8vw;
}
#own1-page7-right-bottom p{
  width: 100%;
  padding-left: 8vw;
  font-size: 0.9vw;
}
#footer{
  height: 10%;
  width: 100%;
}

/* Responsive code */
@media (max-width:600px) {
  body{
    overflow-x: hidden;
  }
  #nav{
    height: 6vh;
    margin-top: 10px;
    padding: 0vw 3vw;
  }
  #nav h1{
    /* background-color: blue; */
    color: #d4af37;
    width: 17%;
    font-size: 12px;
    justify-content: flex-start;
  }
  #nav h3{
    color: #d4af37;
    display: block;
  }
    #nav h2{
    display: none;
  }
  
  #center{
    height: 40%;
    width: 100%;
    /* background-color: red; */
    padding: 3vw;
    position: relative;
  }
  #content{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
  }
  #content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #overlay{
    height:fit-content;
    width: 100%;
    position:absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
    color: #d4af37;
  }
  #over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
  }
   #over1 h1{
    font-family:monument;
    font-size: 4.5vw;
    font-weight: 100;
   }
   #over1 h2{
    font-size: 1.4vw;
    font-weight: 400;
    padding: 0.8vw 0.8vw;
    /* background-color: blue; */
    border-radius: 50%;
    border:1.35px solid #d4af37;
   }
  #over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.5px solid #d4af37;
    padding: 1vw 0;
  }
  #over2 h4{
    font-size: 2.3vw;
    font-weight: 400;
  }
  #over2 img{
    height:  3vw;
    color: #d4af37;
  }
  #scroll{
    height: 30vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap; 
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .container{
    height: 100%;
    width: fit-content;
    /* background-color: blue; */
    display: inline-block;
    padding: 4%;
     animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
  }
  #scroll img{
    height: 100%;
    width: 30%;
    border-radius: 50%;
    margin-right: 50px;
    object-fit: cover;
    object-position: 50% 0%;
  }
}